<% if resource.errors.any? %>
  <p><%= t('.header', count: resource.errors.count) %></p>
  <ul>
    <% resource.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
