<footer class="bg-light text-center text-lg-start">
    <small class="text-muted">
    <%= github_url("aamnesia", "test-guru") %>! Cool testing app
    by <%= github_url("aamnesia", "") %>.<br>
    Online-school <a class="text-dark" href="http://thinknetica.com" target="new">Thinknetica</a> project<br>
    <%= link_to "FeedBack", new_feedback_path %>
    © <%= current_year %></small>
</footer>
