<footer class="bg-light text-center text-lg-start">
    <small class="text-muted"> Приложение <%= github_url("aamnesia", "test-guru") %> для работы с тестами
    by <%= github_url("aamnesia", "") %>.<br>
    Учебный проект в онлайн-школе <a class="text-dark" href="http://thinknetica.com" target="new">Thinknetica</a>
    © <%= current_year %></small>
</footer>
