<div class="footer">
  <%= current_year %>
  Приложение <%= github_url("aamnesia", "test-guru") %> для работы с тестами
  by <%= github_url("aamnesia", "") %>.<br>
  <small>Учебный проект в онлайн-школе <%= link_to "Thinknetica",
              "http://thinknetica.com", target: '_blank' %><small>
</div>
