<div class="progress-bar">
  <%= content_tag :div, "",
                  id: 'progress',
                  data: { questions_count: @test_passage.number_of_questions,
                          question_number: @test_passage.current_question_index }%>
</div>
