<div align="center">
  <h1>FeedBack from <%= link_to 'TestGuru', root_url %></h1>

  <h3>
    <b>Name: </b><%= @name %><br>
    <b>Email: </b><%= @email %><br>
    <b>Message: </b><%= @body %>
  </h3>
</div>
